name: Daily Bilibili Jobv2

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'  # 对应北京时间每天上午8:00执行

jobs:
  run-bilibili-task:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Run Bilibili Tool
        run: dotnet run --configuration Release --no-build --project ./src/Ray.BiliBiliTool.Console
        env:
          RAY_BILIBILITOOLPRO__0: ${{ secrets.RAY_BILIBILITOOLPRO__0 }}
          RAY_BILIBILICOOKIES__0: ${{ secrets.RAY_BILIBILICOOKIES__0 }}

      - name: Send notification to ServerChan
        run: |
          curl -s "https://sctapi.ftqq.com/${{ secrets.SERVERCHAN_KEY }}.send?title=签到完成&desp=你的B站签到任务已经完成！"
        if: success()
